body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
h1{
    text-align: center;
}
h4{
    margin-bottom: -23px;
    margin-top: auto;
    text-align: center;
}
form{
    background-color: lightpink;
    padding: 10px;
    border: 1px solid lightslategray;
}
input{
    margin: 10px 0 5px 0;
    
}
input[type=submit]{
    width: 165px;
}
select{
    margin-top: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available;
}